<div class="grid-wrapper w-100">
    <div class="profile center" style="grid-column: span 2; margin:auto;">
        <img class="center" src="assets/img/abstract.png" width="30%" alt="">
    </div>
    
    <div style="grid-column: span 3;">
        <br>

        <p class="lead mb-4"> 
            Predictive models for airport surface operations can be used for various downstream tasks like
            collision risk assessment, taxi-out time prediction, departure metering, and emission estimations.
            While data-driven methods have showcased marked improvements in predictive performance in
            recent years, prior works have not addressed the lack of large-scale curated surface movement
            datasets within the public domain and the development of generalizable trajectory forecasting
            models. In response to this, we propose two contributions: (1) Amelia-48 dataset, a large
            surface movement dataset collected using the System Wide Information Management (SWIM)
            Surface Movement Event Service (SMES). With data collection beginning in December 2022,
            the ∼30TB Amelia-48 dataset currently provides a year’s worth of data and covers 48 airports
            and TRACON facilities within the US National Airspace System. In addition to releasing
            this data in the public domain, we also provide post-processing scripts and associated OSM
            airport maps to enable research in the forecasting domain and beyond. (2) Amelia-TF model, a
            transformer-based large multi-agent multi-airport trajectory forecasting model trained on 300
            days or 11.36 billion tokens of position data encompassing 10 different airports with varying
            topology. To demonstrate the generalization capabilities, the open-sourced Amelia-TF model is
            validated on unseen airports with experiments showcasing the performance of the model on
            peak-vs-off-peak times, different prediction horizon lengths, and training recipes.
        </p>
        
    </div>
</div>
<br><br><br>