
<link href="/assets/css/card.css" rel="stylesheet">


In the following table, you can find the status of the data processing for each airport. The table includes the following columns:
<ul>
    <li>Airport : Name of the airport.</li>
    <li>Airport ICAO : ICAO code of the airport.</li>
    <li>Raw Data: Indicates if the trajectory's raw data is available.</li>
    <li>Processed Data: Indicates if the trajectory has been processed.</li>
    <li>Airport Raster Map: Indicates if the map's raster map has been processed.</li>
    <li>Semantic Graph: Indicates if the map's semantic graph has been processed.</li>
    <li>Fence: Indicates if the map's fence has been processed.</li>
</ul>



<table>
    <thead>
      <tr>
        <th scope="col" rowspan="2" style="text-align:center;">#</th>
        <th scope="col" rowspan="2" style="text-align:center;">Airport</th>
        <th scope="col" rowspan="2" style="text-align:center;">Airport ICAO</th>
        <th scope="col" colspan="2" style="text-align:center;">Trajectory</th>
        <th scope="col" colspan="4" style="text-align:center;">Map</th>
      </tr>
      <tr>
        <td style="text-align:center;">Raw Data</td>
        <td style="text-align:center;">Processed Data</td>
        <td style="text-align:center;">Airport Raster Map</td>
        <td style="text-align:center;">Semantic Graph</td>
        <td style="text-align:center;">Fence</td>
        <td style="text-align:center;">Limits File</td>
      </tr>
    </thead>
    <tbody>
      {% for airport in site.data.data_tracker %}
      <tr>
        <td style="text-align:center;">{{ airport.index }}</td>
        <td>{{ airport.airport }}</td>
        <td style="text-align:center;">{{ airport.icao }}</td>
        {% if airport.raw_data != null %}
            <td style="text-align:center;"><img title="plane" alt="plane" src="/assets/img/ac.png" width="30px"></td>
        {% else %}
            <td style="text-align:center;"></td>
        {% endif %}
        {% if airport.processed_data != null %}
            <td style="text-align:center;"><img title="plane" alt="plane" src="/assets/img/ac.png" width="30px"></td>
        {% else %}
            <td style="text-align:center;"></td>
        {% endif %}
        {% if airport.raster_map != null %}
            <td style="text-align:center;"><img title="plane" alt="plane" src="/assets/img/ac.png" width="30px"></td>
        {% else %}
            <td style="text-align:center;"></td>
        {% endif %}
        {% if airport.semantic_graph != null %}
            <td style="text-align:center;"><img title="plane" alt="plane" src="/assets/img/ac.png" width="30px"></td>
        {% else %}
            <td style="text-align:center;"></td>
        {% endif %}
        {% if airport.fence != null %}
            <td style="text-align:center;"><img title="plane" alt="plane" src="/assets/img/ac.png" width="30px"></td>
        {% else %}
            <td style="text-align:center;"></td>
        {% endif %}
        {% if airport.limits != null %}
            <td style="text-align:center;"><img title="plane" alt="plane" src="/assets/img/ac.png" width="30px"></td>
        {% else %}
            <td style="text-align:center;"></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>