
<link href="/assets/css/card.css" rel="stylesheet">


For each of the following airports you can get the following data:
<ul>
    <li><b>Raw Data</b>: Raw trajectory data.</li>
    <li><b>Processed Data</b>: Processed trajectory data.</li>
    <li><b>Airport Map</b>: Raster image of the airport's map.</li>
    <li><b>Semantic Graph</b>: Semantic graph representation of the airport's map.</li>
    <li><b>Fence</b>: GeoFence of the airport's map. GeoFence is used for capturing data within a region of interest.</li>
    <li><b>Limits File</b>: Airport's extent information.</li>
</ul>

<br>

<table>
    <caption><b>Table 2.</b> Airport tracker</caption>
    <thead>
      <tr>
        <th scope="col" rowspan="2" style="text-align:center;"> </th>
        <th scope="col" rowspan="2" style="text-align:center;">Airport</th>
        <th scope="col" rowspan="2" style="text-align:center;">Airport ICAO</th>
        <!-- <th scope="col" colspan="2" style="text-align:center;">Trajectory</th>
        <th scope="col" colspan="4" style="text-align:center;">Map</th> -->
      </tr>
      <!-- <tr>
        <td style="text-align:center;">Raw Data</td>
        <td style="text-align:center;">Processed Data</td>
        <td style="text-align:center;">Airport Map</td>
        <td style="text-align:center;">Semantic Graph</td>
        <td style="text-align:center;">Fence</td>
        <td style="text-align:center;">Limits File</td>
      </tr> -->
    </thead>
    <tbody>
      {% for airport in site.data.data_tracker %}
      <tr>
        <td style="text-align:center;">{{ airport.index }}</td>
        <td>{{ airport.airport }}</td>
        <td style="text-align:center;">{{ airport.icao }}</td>
        <!-- {% if airport.raw_data != null %}
            <td style="text-align:center;"><img title="plane" alt="plane" src="/assets/img/ac.png" width="22px"></td>
        {% else %}
            <td style="text-align:center;"></td>
        {% endif %}
        {% if airport.processed_data != null %}
            <td style="text-align:center;"><img title="plane" alt="plane" src="/assets/img/ac.png" width="22px"></td>
        {% else %}
            <td style="text-align:center;"></td>
        {% endif %}
        {% if airport.raster_map != null %}
            <td style="text-align:center;"><img title="plane" alt="plane" src="/assets/img/ac.png" width="22px"></td>
        {% else %}
            <td style="text-align:center;"></td>
        {% endif %}
        {% if airport.semantic_graph != null %}
            <td style="text-align:center;"><img title="plane" alt="plane" src="/assets/img/ac.png" width="22px"></td>
        {% else %}
            <td style="text-align:center;"></td>
        {% endif %}
        {% if airport.fence != null %}
            <td style="text-align:center;"><img title="plane" alt="plane" src="/assets/img/ac.png" width="22px"></td>
        {% else %}
            <td style="text-align:center;"></td>
        {% endif %}
        {% if airport.limits != null %}
            <td style="text-align:center;"><img title="plane" alt="plane" src="/assets/img/ac.png" width="22px"></td>
        {% else %}
            <td style="text-align:center;"></td>
        {% endif %} -->
      </tr>
      {% endfor %}
    </tbody>
  </table>