<style>
    footer {
        background-color: #f8f9fa;
        overflow: hidden;
        padding: 40px 25px; 
      }
      
      .footer-logos {
        display: flex;
        justify-content: center; 
        align-items: center;
      }
      
      .footer-logos img {
        max-width: 130px;;
        width: 100%;
        height: auto;
        flex: 1;
        padding-left: 20px; /* Reduced padding to make logos closer */
        padding-right: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
      }

      @media (max-width: 768px) {
        .footer-logos img {
          max-width: 120px; /* Adjust max width for medium screens */
        }
      }
      
      @media (max-width: 480px) {
        .footer-logos img {
          max-width: 75px; /* Adjust max width for small screens */
        }
      }
      
      
</style>

<footer>
    <div class="footer-logos">
      <img src="{{ '/assets/img/logos/carnegie-mellon-university-logo.png' }}" alt="Logo 1">
      <img src="{{ '/assets/img/logos/robotics_institute.jpg' }}" alt="Logo 2">
      <img src="{{ '/assets/img/logos/boeing.png' }}" alt="Logo 3">
      <img src="{{ '/assets/img/logos/logo_airlab.png' }}" alt="Logo 4">
      <img src="{{ '/assets/img/logos/biglab.png' }}" alt="Logo 5">
    </div>
  </footer>
  