<style>
  .card-image .image img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    
    .card-image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .card:hover {
      transform: translateY(-5px) scale(1.005) translateZ(0);
      box-shadow: 0 24px 36px rgba(0,0,0,0.11),
        0 10px 10px rgba(3,37,108,0.5);
    }

  .card:hover .overlay {
    transform: scale(4) translateZ(0);
  }

  .card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
  }

  .card:hover .circle:after {
    background: var(--bg-color-light);
  }

  .card:hover p {
    color: var(--text-color-hover);
  }
</style>

<div align="center">
  <h1 class="title">Principal investigators</h1>
  <div class="section">
    <div class="container">
      <div class="columns is-multiline">
        {% for author in site.data.professors %}
        <div class="column is-one-half">
          <a href="{{ site.baseurl }}{{ author.url }}">
            <div class="card">
              <div class="card-image has-text-centered">
                <figure class="image is-128x128" style="border-radius: 50%; overflow: hidden; margin: 0 auto;">
                  <img src="{{ author.photo }}" alt="{{ author.name }}">
                </figure>
              </div>
              <div class="card-content has-text-centered">
                <p class="title is-4">{{ author.name }}</p>
                <p class="subtitle is-6">{{ author.credentials }}</p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>